<% if params[:page].present? && params[:page].to_i > 1 %>
  <%= turbo_stream.append "tools_grid" do %>
    <%= render partial: "tool", collection: @tools %>
  <% end %>

  <% if @tools.last_page? %>
    <%= turbo_stream.remove "tools_pagination" %>
  <% else %>
    <%= turbo_stream.replace "tools_pagination" do %>
      <%= turbo_frame_tag "tools_pagination", src: tools_path(page: @tools.next_page, query: params[:query], category: params[:category], favorites: params[:favorites], format: :turbo_stream), loading: :lazy do %>
        <div class="flex justify-center py-8 w-full">
          <svg class="animate-spin h-8 w-8 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
