<%= turbo_stream.replace "favorite_tool_#{@tool.id}" do %>
  <%= turbo_frame_tag "favorite_tool_#{@tool.id}" do %>
    <%= button_to tool_favorite_path(@tool), method: :delete, class: "p-1.5 bg-gray-100 dark:bg-gray-700 rounded-full shadow-sm hover:scale-110 transition-transform text-red-500" do %>
      <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "favorites_count" do %>
  <span id="favorites_count" class="bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-200 text-xs font-medium px-2.5 py-0.5 rounded-full">
    <%= Current.user.favorites.count %> Favorites
  </span>
<% end %>
